<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.manage.dao.UserDao">
 
    <resultMap id="BaseResultMap" type="com.project.manage.entity.UserEntity">
        <result column="userId" jdbcType="INTEGER" property="user_id" />
        <result column="userName" jdbcType="VARCHAR" property="user_name" />
        <result column="userCode" jdbcType="VARCHAR" property="user_code" />
        <result column="userPwd" jdbcType="VARCHAR" property="user_pwd" />
        <result column="userBirthday" jdbcType="VARCHAR" property="user_birthday" />
    </resultMap>
 
    <select id="findAll" resultType="com.project.manage.entity.UserEntity">
        select * from user 
    </select>
 
</mapper>
